<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [171]:
import csv
import pandas as pd
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [172]:
chipotle_df = pd.read_csv(DATA_FILE,sep='\t')
print(chipotle_df.head())
print(chipotle_df.shape)
print(chipotle_df.columns)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
(4622, 5)
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [173]:
chipotle_df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [174]:
chipotle_df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [177]:
#list of header
##NOte I did not understand much what os the ask here and what ios the usage 
list_header = list(chipotle_df)
print(list_header)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [178]:
#Average price of an order is the sum of all values in item_price  divide by total number of unique valuecount of order_id 
total_number_unique_orders = chipotle_df.order_id.value_counts().count()
print('Total of unique orders is :{}'.format(total_number_unique_orders))

Total of unique orders is :1834

In [179]:
#we got rid of $ from item_price
chipotle_df.item_price = chipotle_df.item_price.apply(lambda x: float(x[1:-1]))

In [180]:

sum_orders = chipotle_df.item_price.sum()
print('Sum of al orders  is :{}'.format(sum_orders))

Sum of al orders  is :34500.16

In [181]:
# average price of order  
avg_price_order = sum_orders/total_number_unique_orders

print('Average price of order  is :{}'.format(round(avg_price_order,2)))

Average price of order  is :18.81

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [182]:
#EDA to see unique values of itemnames 
chipotle_df.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [183]:
#EDA to see unique values of descriptiom
chipotle_df.choice_description.unique()

array([nan, '[Clementine]', '[Apple]', ...,
       '[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]',
       '[Tomatillo Green Chili Salsa, [Rice, Black Beans]]',
       '[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]'],
      dtype=object)

In [185]:
#Creating a new data set with only 'Canned Soda' and 'Canned Soft Drink'
soda_df=chipotle_df[chipotle_df.item_name.isin(['Canned Soda', 'Canned Soft Drink'])].head()

In [186]:
#
unique_sodas=list(soda_df.choice_description.unique())
print(unique_sodas)

['[Sprite]', '[Dr. Pepper]', '[Mountain Dew]']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [187]:
burrito_df=chipotle_df[chipotle_df['item_name'].str.contains('Burrito')]
burrito_df.head(10)

,order_id,quantity,item_name,choice_description,item_price
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
31,16,1,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",8.99
43,20,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.75

In [143]:
burrito_df.groupby(['item_name','choice_description']).choice_description.count()

item_name         choice_description
Barbacoa Burrito  [Fresh Tomato (Mild), [Black Beans, Rice, Sour Cream, Cheese]]                                                                                                           1
                  [Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                                                    1
                  [Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                 1
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                                                                 1
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Lettuce]]                                                                                            1
                                                                                                                                                                                          ..
Veggie Burrito    [[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Rice, Fajita Veggies, Sour Cream]]                                                                     1
                  [[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Fajita Veggies, Sour Cream, Lettuce]]         1
                  [[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, Pinto Beans, Fajita Veggies, Guacamole, Lettuce]]                                   1
                  [[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Guacamole, Lettuce]]    1
                  [[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Lettuce]]               3
Name: choice_description, Length: 743, dtype: int64

In [188]:
#df = df.groupby('domain')['ID'].nunique()
burrito_df.groupby('item_name')['choice_description'].nunique()

item_name
Barbacoa Burrito     71
Burrito               6
Carnitas Burrito     47
Chicken Burrito     310
Steak Burrito       251
Veggie Burrito       58
Name: choice_description, dtype: int64

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [189]:
chips_df = chipotle_df[chipotle_df['item_name'].str.contains('Chip')]

In [190]:
chips_df.shape

(1084, 5)

In [191]:
chips_df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
6,3,1,Side of Chips,NaN,1.69
10,5,1,Chips and Guacamole,NaN,4.45
14,7,1,Chips and Guacamole,NaN,4.45

In [195]:
final = chips_df.groupby('item_name').quantity.sum()

In [196]:
final.head(10)

item_name
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Name: quantity, dtype: int64

In [197]:
final_dict=final.to_dict()

In [198]:
final_dict

{'Chips': 230,
 'Chips and Fresh Tomato Salsa': 130,
 'Chips and Guacamole': 506,
 'Chips and Mild Fresh Tomato Salsa': 1,
 'Chips and Roasted Chili Corn Salsa': 23,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Tomatillo Green Chili Salsa': 45,
 'Chips and Tomatillo Red Chili Salsa': 50,
 'Chips and Tomatillo-Green Chili Salsa': 33,
 'Chips and Tomatillo-Red Chili Salsa': 25,
 'Side of Chips': 110}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it! 
We Would Like to See the  most preferred combination by item and description of our customers and least preffered cobination it will help the chiopotle store to decide which items and combinations to stoke up and purchase more 
For least preffered combination , we can further see the price improvements ,quality improvements

In [199]:
# Grouping by 2 columns 
new_df = chipotle_df.groupby(['item_name', 'choice_description']).sum()

In [200]:
new_df.head(10)

                                                                      order_id  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                 19440
                  [Diet Coke]                                            24539
                  [Lemonade]                                              3056
                  [Nestea]                                                1746
                  [Sprite]                                                3541
Barbacoa Bowl     [Fresh Tomato (Mild), [Lettuce, Black Beans, Ri...      1278
                  [Fresh Tomato (Mild), [Lettuce, Rice, Cheese]]          1533
                  [Fresh Tomato Salsa (Mild), [Black Beans, Rice,...       987
                  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour...      2033
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...      2948

                                                                      quantity  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                    21
                  [Diet Coke]                                               25
                  [Lemonade]                                                 2
                  [Nestea]                                                   2
                  [Sprite]                                                   5
Barbacoa Bowl     [Fresh Tomato (Mild), [Lettuce, Black Beans, Ri...         1
                  [Fresh Tomato (Mild), [Lettuce, Rice, Cheese]]             1
                  [Fresh Tomato Salsa (Mild), [Black Beans, Rice,...         2
                  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour...         2
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...         2

                                                                      item_price
item_name         choice_description
6 Pack Soft Drink [Coke]                                                  136.29
                  [Diet Coke]                                             162.25
                  [Lemonade]                                               12.98
                  [Nestea]                                                 12.98
                  [Sprite]                                                 32.45
Barbacoa Bowl     [Fresh Tomato (Mild), [Lettuce, Black Beans, Ri...        8.69
                  [Fresh Tomato (Mild), [Lettuce, Rice, Cheese]]            8.69
                  [Fresh Tomato Salsa (Mild), [Black Beans, Rice,...       22.96
                  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour...       17.98
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...       23.50

In [201]:
#Sorting list to get orderes choices 
df_sorted = new_df.sort_values(['item_price'], ascending=False)

In [169]:
# Top 10 most popular items to stcok up stock of these items 
print('\n Top 10 items after sorting the grouped Data by item_price :')
df_sorted.head(10)

 Top 10 items after sorting the grouped Data by item_price :

                                                                      order_id  \
item_name         choice_description
Chicken Burrito   [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     17682
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     13781
6 Pack Soft Drink [Diet Coke]                                            24539
Chicken Bowl      [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     15003
Canned Soft Drink [Coke]                                                103312
Chicken Bowl      [Fresh Tomato Salsa, [Fajita Vegetables, Rice]]        14095
Canned Soft Drink [Diet Coke]                                            88465
Chicken Bowl      [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     10990
6 Pack Soft Drink [Coke]                                                 19440
Chicken Burrito   [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...      8226

                                                                      quantity  \
item_name         choice_description
Chicken Burrito   [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        21
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        19
6 Pack Soft Drink [Diet Coke]                                               25
Chicken Bowl      [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        14
Canned Soft Drink [Coke]                                                   122
Chicken Bowl      [Fresh Tomato Salsa, [Fajita Vegetables, Rice]]           17
Canned Soft Drink [Diet Coke]                                              115
Chicken Bowl      [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        16
6 Pack Soft Drink [Coke]                                                    21
Chicken Burrito   [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        12

                                                                      item_price
item_name         choice_description
Chicken Burrito   [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...      183.75
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...      166.25
6 Pack Soft Drink [Diet Coke]                                             162.25
Chicken Bowl      [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...      157.50
Canned Soft Drink [Coke]                                                  152.50
Chicken Bowl      [Fresh Tomato Salsa, [Fajita Vegetables, Rice]]         148.75
Canned Soft Drink [Diet Coke]                                             143.75
Chicken Bowl      [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...      140.00
6 Pack Soft Drink [Coke]                                                  136.29
Chicken Burrito   [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...      135.00

In [202]:
# last 10  items least popular to imnprove quality or improve price and customer feedback
print('\n last 10 items after sorting the grouped Data by item_price :')
df_sorted.tail(10)

 last 10 items after sorting the grouped Data by item_price :

                                                                 order_id  \
item_name    choice_description
Salad        [Brown Rice, Adobo-Marinated and Grilled Chicke...       575
             [White Rice, Adobo-Marinated and Grilled Chicke...       575
Burrito      [Adobo-Marinated and Grilled Chicken, [Sour Cre...       279
             [Braised Barbacoa, Pinto Beans, [Sour Cream, Sa...       217
             [Braised Barbacoa, Vegetarian Black Beans, [Sou...       214
             [White Rice, Adobo-Marinated and Grilled Steak,...       313
Crispy Tacos [Adobo-Marinated and Grilled Steak]                      217
Burrito      [White Rice, Adobo-Marinated and Grilled Steak,...       313
Crispy Tacos [Adobo-Marinated and Grilled Chicken]                    217
Burrito      [Adobo-Marinated and Grilled Chicken, Pinto Bea...       214

                                                                 quantity  \
item_name    choice_description
Salad        [Brown Rice, Adobo-Marinated and Grilled Chicke...         1
             [White Rice, Adobo-Marinated and Grilled Chicke...         1
Burrito      [Adobo-Marinated and Grilled Chicken, [Sour Cre...         1
             [Braised Barbacoa, Pinto Beans, [Sour Cream, Sa...         1
             [Braised Barbacoa, Vegetarian Black Beans, [Sou...         1
             [White Rice, Adobo-Marinated and Grilled Steak,...         1
Crispy Tacos [Adobo-Marinated and Grilled Steak]                        1
Burrito      [White Rice, Adobo-Marinated and Grilled Steak,...         1
Crispy Tacos [Adobo-Marinated and Grilled Chicken]                      1
Burrito      [Adobo-Marinated and Grilled Chicken, Pinto Bea...         1

                                                                 item_price
item_name    choice_description
Salad        [Brown Rice, Adobo-Marinated and Grilled Chicke...         7.4
             [White Rice, Adobo-Marinated and Grilled Chicke...         7.4
Burrito      [Adobo-Marinated and Grilled Chicken, [Sour Cre...         7.4
             [Braised Barbacoa, Pinto Beans, [Sour Cream, Sa...         7.4
             [Braised Barbacoa, Vegetarian Black Beans, [Sou...         7.4
             [White Rice, Adobo-Marinated and Grilled Steak,...         7.4
Crispy Tacos [Adobo-Marinated and Grilled Steak]                        7.4
Burrito      [White Rice, Adobo-Marinated and Grilled Steak,...         7.4
Crispy Tacos [Adobo-Marinated and Grilled Chicken]                      7.4
Burrito      [Adobo-Marinated and Grilled Chicken, Pinto Bea...         7.4